[Unit]
Description=Quxiang FastAPI Backend
After=network.target mysql.service

[Service]
Type=simple
User=frnkhng
WorkingDirectory=/home/frnkhng/quxiang/qx-server
Environment="PATH=/home/frnkhng/quxiang/qx-server/venv/bin"
ExecStart=/home/frnkhng/quxiang/qx-server/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8010
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
